<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @visitor, partial: "card", as: :visitor %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "visitors/visitor_reservations" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "visitors/visitor_courts_played_at" %>
  </div>
</div>
  <!-- Show Page Customization end -->
