<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Court Reviews

    <a data-toggle="collapse" href="#reservation_court_reviews_new_form">
      Add court review
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @reservation.court_reviews.each do |court_review| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to court_review, court_review %>
        <!-- Show link end -->

        <!-- Delete link start -->
        <%= link_to court_review, method: :delete, data: { confirm: "Do you really want to delete this court_review" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="reservation_court_reviews_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
