<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Renter
  </div>

  <ul class="list-group list-group-flush">
    <% @reservation.renter.each do |renter| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/renters/<%= renter.id %>">
          <%= renter %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
