<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @reservation, partial: "card", as: :reservation %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "reservations/reservation_court_reviews" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "reservations/reservation_vistor_reviews" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "reservations/reservation_renter" %>
  </div>
</div>
  <!-- Show Page Customization end -->
